<hr>
<h3>Editando Vacante</h3>
<br>
<%= form_with model: @empleo do |form| %>
    <div>
        <%= form.label :titulo %>
        <%= form.text_field :titulo %>
    </div>
    
    <div>
        <%= form.label :descripcion %>
        <%= form.text_area :descripcion %>
    </div>
    
    <div>
        <%= form.label :vacantes %>
        <%= form.text_field :vacantes %>
    </div>
    
    <div>
        <%= form.label :salario %>
        <%= form.text_field :salario %>
    </div>
    
    <div>
        <%= form.label :fecha_inic %>
        <%= form.date_field :fecha_inic %>
    </div>
    
    <div>
        <%= form.label :tipo %>
        <%= form.text_field :tipo %>
    </div>

    <div>
        <%= form.label :ubicacion %>
        <%= form.text_field :ubicacion %>
    </div>
    
    <div>
        <%= form.submit "Guardar" %>
    </div>
<% end %>