<!DOCTYPE html>
<html>
  <head>
    <title>Empleate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="p-3 mb-2 bg-primary">
      <h1><%= link_to 'Empleate - ¡Una vacante espera por Ti!', inicio_path %></h1>
      <%= image_tag('logo.png', size: "120x100", alt: "Empleate")%>
    </nav>
    <div>
        <a href="http://localhost:3000/users/new" class="text-primary">Registro de Usuarios</a>
    </div>
    <div>
      <a href="http://localhost:3000/empresas/new" class="text-primary">Registro de Empresas</a>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <hr>
    <footer>
      <%= link_to 'Ir al Inicio', inicio_path, class:"text-primary" %>
      <%= link_to 'Ir al listado de Vacantes', empleate_path, class:"text-primary" %>
    </footer>
  </body>
</html>
